[Unit]
Description=Sonarr
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker compose -f /home/gart/sonarr/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /home/gart/sonarr/docker-compose.yml down

[Install]
WantedBy=default.target
