[Unit]
Description=Seerr
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker compose -f /home/gart/seerr/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /home/gart/seerr/docker-compose.yml down

[Install]
WantedBy=default.target
